@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <h2>Hello, this is application for.NET Mentoring Program A2</h2>
        <ul>
            <li list-style-type: none; ><h3>Task 1. Base site</h3></li>
            <li>Home page, contained welcome message and links to other pages</li>
            <li>Categories page. Show list of categories without images</li>
            <li>Products page. Show table with products</li>
            <li><a href="https://epam.sharepoint.com/sites/LMSO/Program/20731f282444-ab19-4642-8cff-c3c17b7b5afd/Module%201-%20Introduction.pdf">Show tasks list</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class=" col-lg-offset-2 col-lg-10">
        <img class="img-responsive" src="~/images/mentor.jpg" alt="Mentoring" />
    </div>
</div>
